header{
    width: 100%; height: 80px;
    /* position: fixed; */
    /* top: 0;  */
    z-index: 20000; 
    position: absolute;
}
.header_inner{
    width: 1280px; height: 100%;
    margin: auto;
    position: relative;
    /* display: ; */
}
.logo{
    display: inline-block;
    width: 120px; 
    position: absolute; top: 20px;
}
.logo img{
    width: 100%;
}
.gnb_nav{
    display: flex;
    position: absolute; top:20px; right: 113px;
}
.gnb_nav li a{
    padding: 11px 45px 11px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}
.gnb_nav .gnb_nav1 a, .gnb_nav .gnb_nav2 a{
    padding: 11px 60px 11px 0;
}
.gnb_nav .gnb_nav1 a:after{
    content:'';
    width: 8px;
    height: 8px;
    border-top: 2px solid #c20f2f;
    transform: rotate(-135deg);
}
.gnb_nav_ul{
    background-color:#fff ;
    opacity: 0.5;
    height: 84px; width: 178px;
}
.gnb_nav_ul li{
    padding: 0px 16px;
}
.gnb_nav_ul li a{
    font-weight: 400;
    font-size: 16px;
    color: black;
}
.gnb_nav .report a {
    font-size: 16px;
    padding:5px 15px 5px 15px;
    color: #D20B2F;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #D20B2F;
}
.lnb_nav{
    position: absolute; right: 0; top:28px;
    display: flex;
}
.lnb_nav li{
    width: 24px; height: 24px;
    margin-left: 8px;
}
.lnb_nav li img{
    width: 100%;
}
section{
    position: relative;
    padding-top: 80px;
}
.swiper-slide{
    position: relative;
    width: 1920px; height: 100%;
}
.swiper_img1{
    width: 100%; 
}
.tit_width{
    width: 30%;
}
.swiper_tit1{
    position: absolute;
    top: 15%; left: 22.5%;
}
.swiper_tit2{
    position: absolute;
    top:88px ; left:121px ;
    width: 629px; height: auto;
}
.swiper_tit2 h1{
    font-size:7rem ; font-weight: 700;
    line-height: 120px;
}
.swiper_tit2 h3{
    margin: 30px 0 80px 0;
    line-height: 52px;
    font-size: 2.3rem;
    color: #2b292d;
    font-weight: 500;
}
.swiper_tit2 a{
    background-color:#D20B2F ;
    display: block;
    border-radius: 50px;
    width: 451px; height: 105px;
    line-height: 105px;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
}
.swiper_tit2 a em{
    display: inline-block;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: "Noto Sans KR";
}
.swiper_tit3{
    position: absolute;
    top: 40%; left:5%;
}
.swiper_tit4{
    position: absolute;
    top: 42%; left:6%;
}
.swiper_tit5{
    position: absolute;
    top: 16%; left: 20.5%;
}
.section2_wrap{
    width:1180px; 
    position: relative;
    margin: 0 auto;
}
.section2_inner{
    width: 100%; 
    position: absolute;
    top:-70px; left: 50%;
    transform: translateX(-50%);
    padding: 30px 30px 30px 20px;
    border-radius: 65px 0 65px 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 15px 20px 0 rgb(113 94 97 / 15%);
}
.section2{
    /* display: flex; */
}
.section2 div{
    /* flex: 1; */
    /* width: 100%; height: 100%; */
}
.s2_c1{
    margin: 40px 0 0 40px;
    /* top: auto; */
    display: inline-block;
    /* transform: none; */
    position: relative;
}
.s2_c1 h1{
    font-size: 40px; font-weight:700 ; 
    line-height: 1.2;
    text-align: right;
}
.s2_c1 a{
    float: right;
}
.more_a{
    /* float: right; */
    display: flex;
    right: 0;
    margin-top: 10px;
    font-weight: 700;
    position: relative;
}
.more_a p{
    font-size: 16px; font-weight: bold;
    z-index: 5; 
    margin-right: 43px;
}
.more_a span{
    background-color: #fad900;
    width: 64px; height: 30px;
    display: inline-block;
    position: absolute;
    bottom: 0; margin-left: 21px;
    border-radius: 15px;
}
.more_a i{
    display: inline-block;
    position: absolute;
    width: 29px;
    border-top: 2px solid #000;
    margin: -1px 0 0 25px;
    top: 50%;
}
.more_a i::after{
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -6px;
    right: 1px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    content: "";
    transform: rotate(45deg);
}
.s2_c2{
    float: right;
    width: calc(100% - 220px);
}
.s2_c2 ul{
    display: flex;
    justify-content: space-between;
}
.s2_c2 ul a{
    display: inline-block; 
    text-align: center;
    position: relative;
}
.s2_c2 ul a img{
    display: block;
    width: 100%;
    max-width: 207px;
}
.section3{
    display: flex;
    flex-direction: row;
    padding-top: 245px;
    width: 1180px; height: auto;
    margin: 0 auto;
}
.s3_c{
    display: flex;
    position: relative;
}
.s3_c_img{
    flex: 0 0 600px;
    display: block;
}
.s3_c_img img{
    width: 100%;
}
.s3_c_w{
    flex: 0 0 580px;
    background-color:#fff8f5 ;
    width: 100%; height: 570px;
}
.s3_c_t1{
    padding:70px 0 0 39px;
}
.s3_c_t{
    padding-left: 39px;
}
.s3_c_t2{
    margin: 40px 0;
    font-size: 28px; font-weight: bold; 
    line-height: 1.2; 
}
.s3_c_t3{
    margin: 30px 0;
}
.s3_c_t4{
    padding: 30px 0;
    justify-content: space-between;
    display: flex;
}
.s3_c_t4 div{
    display: 1;
    margin-right: 30px;
}
.s3_c_t4_1 img{
    margin: 0 auto;
}
.s3_c_t4 h5{
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    margin: 11px 0 4px;
    text-align: center;
}
.s3_c_t4 p{
    margin-top:26px ;
    font-size: 18px;
    font-weight: 900;
    width: 105px; height: 54px;
    border-radius: 3px;
    background-color: #ececec;
    text-align: center;
    line-height: 54px;
}
.s3_c_t4_1 h6{
    margin-top: 4px;
 font-size: 12px; font-weight: 400; 
text-align: center;
}
.last_p{
    margin-top: 0 !important;
}
.section4_inner{
    padding: 40px 0;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
}
.section4_inner div{
    flex: 1;
}
.s4_c,.s4_c1_inner{
    justify-content: center;
    position: relative;
    height:600px;
}
.s4_c_img1{
    background:url('https://kellogg.co.kr/Images/Main/img_nutritional_off_1.png') no-repeat 0 0;
}
.s4_c_p{
    text-align: center;
    position: absolute;
    left: 50%; top: 50%; 
    transform: translate(-50%,-50%);
}
.s4_c_p_i{
    margin: 0 auto;
    margin-bottom: 15px;
}
.s4_c_p h5{
    line-height: 1.4;
    font-size:  18px; font-weight: 700;
    width: 173px;
}
.s4_c_p h6, .s4_c_p_inner h6{
    font-size: 14px; font-weight: 400; 
    text-decoration: underline;
}
.s4_c_img2{
    background: url('https://kellogg.co.kr/Images/Main/img_nutritional_off_2.png')no-repeat 0 0;
}
.s4_c_img3{
    background: url('https://kellogg.co.kr/Images/Main/img_nutritional_off_3.png')no-repeat 0 0; 
}
.s4_c_img4{
    background: url('https://kellogg.co.kr/Images/Main/img_nutritional_off_4.png')no-repeat 0 0; 
}
.inner_img1{
    background:url('https://kellogg.co.kr/Images/Main/img_nutritional_on_1.png') no-repeat 0 0;
}
.s4_c_p_inner{
    width: 250px; height: 250px;
    position: relative;
    text-align: center;
    position: absolute;
    left: 50%; top: 50%; 
    transform: translate(-50%,-50%);
}
.s4_c_p_img1{
    background: url('https://kellogg.co.kr/Images/Main/ico_nutritional_on_1.png') ;
}
.s4_c_p_inner{
    color: #fff;
    line-height: 1.4;
    font-size:  25px; font-weight: 700;
}
.s4_c_p_inner h5{
    margin-top: 55px;
}
.inner_img2{
    background:url('https://kellogg.co.kr/Images/Main/img_nutritional_on_2.png') no-repeat 0 0;
}
.s4_c_p_img2{
    background: url('https://kellogg.co.kr/Images/Main/ico_nutritional_on_2.png');
}
.inner_img3{
    background:url('https://kellogg.co.kr/Images/Main/img_nutritional_on_3.jpg') no-repeat 0 0;
}
.s4_c_p_img3{
    background: url('https://kellogg.co.kr/Images/Main/ico_nutritional_on_3.png');
}
.inner_img4{
    background:url('https://kellogg.co.kr/Images/Main/img_nutritional_on_4.png') no-repeat 0 0;
}
.s4_c_p_img4{
    background: url('https://kellogg.co.kr/Images/Main/ico_nutritional_on_4.png') no-repeat 0 0;
}
.section5_inner{
    margin: 30px auto;
    padding-bottom: 90px;
    max-width: 1180px;
}
.sns_tit{
    border-radius: 12px;
    background-color: #d20b2f;
    display: inline-block;
    padding: 14px 30px;
    margin-bottom: 12px;
}
.sns_tit span{
    position: relative;
    display: block;
    text-align: center;
}
.sns_tit span::after{
    top: 50%; left: 0;
    margin-top: -2px;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: #fff;
}
.sns_tit span::after{
    top: 50%; left: 0;
    margin-top: 2px;
    position: absolute;
    content: '';
    width: 100%; height: 1px;
    display: inline-block;
    background-color: #fff;
}
.sns_tit img{
    width: 90px;
    background-color: #d20b2f;
    padding: 0 10px;
    position: relative;
    display: inline-block;
    z-index: 10;
}
.sns_tit span::before{
    content: '';
    width: 100%; height: 1px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 50%; left: 0;
    margin-top: -2px;
}
.sns_tit p{
    font-size:  36px; font-weight: 700;
    line-height: 1.3; 
    color: #fff;
}
.link_area{
    width: 100%; height: 460px;
    display: grid;
    /* 반복횟수, 그리드 트랙 리스트 */
    grid-template-columns:repeat(3,1fr);
	grid-template-rows: repeat(auto, 50%);
}
.l_youtube{
    grid-column: 1;
    grid-row: 1/3;
    width: 700px; 
   position: relative;
}
.bg_img{
    width: 100%; height: 100%;
}
.play{
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%,-50%);
}
.sns{
    position: absolute;
    top: 14px;
    right: 14px;
    width: 40px; height: 40px;
}
.grid{
    position: relative;
    margin: 0 0 10px 20px;
}
.l_insta1{
    grid-column: 2;
    grid-row: 1;
}
.l_insta2{
    grid-column: 3;
    grid-row: 1;
}
.bg_img2{
    width: 100%;
}
.grid2{
    position: relative;
    margin: 10px 0 0 20px;
}
.l_blog1{
    grid-column: 2;
    grid-row: 2;
}
footer{
    width: 100%; height:80px;
    position: relative;
    background-color: #d20b2f;
    color: #fff;
    padding: 0 20px;
}
.footer_inner{
    width: 1180px; height: 100%;
    margin: 0 auto;
    display: flex;
}
.f_logo{
    margin: auto 0;
    width: 115px; height: 36px;
}
.f_logo img{
    width: 100%;
}
.f_copyright{
    font-size: 13px;
    line-height: 80px;
    flex: 1 1 auto;
    text-align: center;
}
.f_sns{
    margin:auto 0;
}
.f_sns ul{
    display: flex;
}
.f_sns img{
    width: 24px; height: 24px;
    margin: 0 5px;
}
.language{
    text-align: right;
}
.language select{
    height: 24px; width: 236px;
    background-color: #d20b2f;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    font-family:'KelloggsSans';
}
.btn_info_open{
    position: relative;
    width: 66px; 
}
.btn_info_open button{
    position: absolute;
    top: 50%; left: 50%;
    width: 16px; height: 16px;
    margin: -8px 0 0 -8px;
}
.i1{
    top: 0;
}
button i{
    position: absolute;
    width: 16px;
    height: 8px;
    left: 0;
}
button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: 0;
}
i::before{
    display: inline-block;
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    top: 3px;
    background-color: #fff;
    left: 0;
    transform: rotate(-45deg);
}
i:after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    top: 3px;
    background-color: #fff;
    right: 0;
    transform: rotate(45deg);