header{
    width: 100%; height: 80px;
    border: 1px solid red;
    /* position: fixed; */
    /* top: 0;  */
    z-index: 20000; 
    position: absolute;
}
.header_inner{
    width: 1280px; height: 100%;
    border:1px solid tan;
    margin: auto;
    position: relative;
    /* display: ; */
}
.logo{
    display: inline-block;
    width: 120px; 
    position: absolute; top: 20px;
}
.logo img{
    width: 100%;
}
.gnb_nav{
    display: flex;
    position: absolute; top:20px; right: 113px;
}
.gnb_nav li a{
    padding: 11px 45px 11px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}
.gnb_nav .gnb_nav1 a, .gnb_nav .gnb_nav2 a{
    padding: 11px 60px 11px 0;
}
.gnb_nav .gnb_nav1 a:after{
    content:'';
    width: 8px;
    height: 8px;
    border-top: 2px solid #c20f2f;
    transform: rotate(-135deg);
}
.gnb_nav_ul{
    background-color:#fff ;
    opacity: 0.5;
    height: 84px; width: 178px;
}
.gnb_nav_ul li{
    padding: 0px 16px;
}
.gnb_nav_ul li a{
    font-weight: 400;
    font-size: 16px;
    color: black;
}
.gnb_nav .report a {
    font-size: 16px;
    padding:5px 15px 5px 15px;
    color: #D20B2F;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #D20B2F;
}
.lnb_nav{
    position: absolute; right: 0; top:28px;
    display: flex;
}
.lnb_nav li{
    width: 24px; height: 24px;
    margin-left: 8px;
}
.lnb_nav li img{
    width: 100%;
}
section{
    position: relative;
    padding-top: 80px;
}
.swiper-slide{
    position: relative;
    width: 1920px; height: 100%;
}
.swiper_img1{
    width: 100%; 
}
.tit_width{
    width: 30%;
}
.swiper_tit1{
    position: absolute;
    top: 15%; left: 22.5%;
}
.swiper_tit2{
    position: absolute;
    top:88px ; left:121px ;
    width: 629px; height: auto;
}
.swiper_tit2 h1{
    font-size:7rem ; font-weight: 700;
    line-height: 120px;
}
.swiper_tit2 h3{
    margin: 30px 0 80px 0;
    line-height: 52px;
    font-size: 2.3rem;
    color: #2b292d;
    font-weight: 500;
}
.swiper_tit2 a{
    background-color:#D20B2F ;
    display: block;
    border-radius: 50px;
    width: 451px; height: 105px;
    line-height: 105px;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
}
.swiper_tit2 a em{
    display: inline-block;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: "Noto Sans KR";
}
.swiper_tit3{
    position: absolute;
    top: 40%; left:5%;
}
.swiper_tit4{
    position: absolute;
    top: 42%; left:6%;
}
.swiper_tit5{
    position: absolute;
    top: 16%; left: 20.5%;
}
.section2_wrap{
    width:1180px; 
    position: relative;
    margin: 0 auto;
}
.section2_inner{
    width: 100%; 
    position: absolute;
    top:-70px; left: 50%;
    transform: translateX(-50%);
    padding: 30px 30px 30px 20px;
    border-radius: 65px 0 65px 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 15px 20px 0 rgb(113 94 97 / 15%);
}
.section2{
    /* display: flex; */
}
.section2 div{
    /* flex: 1; */
    /* width: 100%; height: 100%; */
}
.s2_c1{
    margin: 40px 0 0 40px;
    /* top: auto; */
    display: inline-block;
    /* transform: none; */
    position: relative;
}
.s2_c1 h1{
    font-size: 40px; font-weight:700 ; 
    line-height: 1.2;
    text-align: right;
}
.s2_c1 a{
    float: right;
}
.more_a{
    /* float: right; */
    display: flex;
    right: 0;
    margin-top: 10px;
    font-weight: 700;
    position: relative;
}
.more_a p{
    font-size: 16px; font-weight: bold;
    z-index: 5; 
    margin-right: 43px;
}
.more_a span{
    background-color: #fad900;
    width: 64px; height: 30px;
    display: inline-block;
    position: absolute;
    bottom: 0; margin-left: 21px;
    border-radius: 15px;
}
.more_a i{
    display: inline-block;
    position: absolute;
    width: 29px;
    border-top: 2px solid #000;
    margin: -1px 0 0 25px;
    top: 50%;
}
.more_a i::after{
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -6px;
    right: 1px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    content: "";
    transform: rotate(45deg);
}
.s2_c2{
    float: right;
    width: calc(100% - 220px);
}
.s2_c2 ul{
    display: flex;
    justify-content: space-between;
}
.s2_c2 ul a{
    display: inline-block; 
    text-align: center;
    position: relative;
}
.s2_c2 ul a img{
    display: block;
    width: 100%;
    max-width: 207px;
}
.section3{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 245px;
    width: 1180px; 
    margin: 0 auto;
}
.s3_c{
    /* display: flex; */
}
.s3_c_img{
    flex: 0 0 600px;
    /* display: 1; width: 100%;  */
}
.s3_c_w{
    flex: 0 0 580px;
    background-color:#fff8f5 ;
     padding: 40px 49px;
}
 .s3_c_t1{
    width: 194px;     height: 60px;
    top: 60px;
        left: 639px;
    margin: 0 auto;
    position: absolute;
}
.s3_c_t2{
    padding-top: 120px;
    width: 90%;
    margin: 40px 0;
    font-size: 28px; font-weight: bold; 
    line-height: 1.2;
}
.s3_c_t3{
    padding: 30px 0;
    position: relative;
}
/*
.s3_c_t3 li{
    text-align: center;
    padding: 30px;
    margin-left: ;
    float: left; 
}
.s3_c_t3 li img{
    margin-left:20px ;
    background-color: yellow
}
.s3_c_t3 h5{
    font-size:  ; font-weight: ;
}
.s3_c_t3 p{
    background-color: yellowgreen;
    padding: 20px;
} */
