html,
body {
  position: relative;
  height: 100%;
}

body {
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.s1_swiper{
  background: url('./images/visual.png');
  grid-column: 3;
  grid-row: 1/3;
}
.swiper-slide{
  background: url('./images/visual.png');
}
.swiper-pagination-clickable .swiper-pagination-bullet{
  width: 10px; height: 10px;
  margin: 0 0 0 8px;
  padding: 0;
  cursor: pointer;
  line-height: 0;
  background-color: transparent;
  border: 2px solid #fff;
}
.swiper-pagination-bullet-active {
  border: none !important;
    width: 14px !important;
    height: 14px !important;
  background-color: #FD0 !important;
}