.clear::after{
    content: "";
    display: block;
    clear: both;
}
/* 공통요소 */
.pColor{
    color: #442279;
}
.gColor{
    color: #4B4B4B;
}
@font-face {
    font-family:'AMB-iconfont' ;
    src: url('./font/AMB-iconfont.ttf');
}
header{
    width:100%;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,.3);
    position: absolute;
    z-index: 1;
}
.header_inner{
    width:1280px; height:75px;
    padding: 0 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    line-height:75px;
    justify-content:flex-end;
    /* align-items: center; */
    margin: 0 auto;
}
.logo{
  margin-top: 10px;
  margin-right: auto;
}
.logo2{
    display: none;
}
.gnb_ul{
    display: flex;
}
.gnb_ul> li a{
    text-align: center;
    display: inline-block;
    min-width: 145px;      /*몰랐음*/
    padding:0 30px;
    font-size:17px; font-weight: bold;
    color: #fff;
}
.lnb li a {
    font-size:16px;
    font-weight: bold;
    color: #bfbfbf;
    margin-left: 50px;
}
.sub_menu{
    line-height:20px;
    display: none;
}
header:hover{
    background:#fff;
}
header:hover .gnb li a{
    color: #4b4b4b;
}
header:hover .lnb li a{
    color: #442279;
}
.gnb .gnb_ul >li:hover>a {
    background:rgba(50,30,90,0.85); 
    color:#fff; font-weight:bold;
}
.gnb .gnb_ul >li:hover >.sub_menu{
    display: block;
    animation:ani_down 0.2s ease-out 0s 1 alternate;
    background:rgba(50,30,90,0.85); 
}
.gnb .gnb_ul >li:hover >.sub_menu>li>a{
    color: #fff;
    padding:5px 20px; margin:5px 0; 
    font-size: 16px; font-weight:normal;
}
.gnb .gnb_ul >li:hover >.sub_menu>li:first-child{ 
    padding-top:10px;
}
.gnb .gnb_ul >li:hover >.sub_menu>li:last-child{ 
    padding-bottom:10px;
}
.s_slick_slider{
    width:100%;  min-height: 945px;
    max-height: 1115px;
    position: relative;
}
.s_slick_slider img{
    height:100%; width:100%;
} 
.slider_inner_wrap{
    max-width: 1280px;
    margin: 0 auto;
   padding:0 40px;
}  
.slider_title{
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
}  
.s_slick_slider p{
    color: #fff;
    font-weight: bold;
}                        
.p01{
    margin-bottom: 10px;
}
.p_font_size{
    font-size:48px;
}
.p03{
    font-size: 24px;
    margin: 40px 0 0 5px;
}
.p_color{
    color: #4B4B4B !important;
}
.p_color span{
    color: #442279;
}
.section_wrap{
    max-width: 1280px; margin: 0 auto;
    padding: 0 30px 180px;
    border: 1px solid red;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.section{
    border:1px solid black;
    overflow: hidden;
}
.section2{
    padding-top: 100px;
    margin-bottom: 70px;
    /* overflow: initial; */
    /* position: relative; */
}
.section2 .titArea{
    width:24%;
    display: inline-block;
    background-color: yellowgreen;
}
.titArea .tit{
    color:#694e95 ;
    font-size: 30px; font-weight: bold;
    padding: 15px 0 8px 0;
    position: relative;
}
.titArea .tit:before{
    position: absolute; top: 0;
    content:"";
    display: block;
    background:#694e95;
    width:32px; height:3px;
}
.titArea .stit{
    font-size: 24px;
    color: #4b4b4b;
}
.section2 .conArea{
    width:76%;
    display: inline-block;
}
.diy_slider_wrap{
    position: relative;
    height:270px;
    overflow: hidden;
}
.slider_ul{
    overflow: visible;
    width: 927px;
    height: 250px;
    background:yellow;
    /* display:grid; */
    /* grid-column:(4,231.75px); */
}
.slider_ul li{
    transition: none 0s ease 0s;
}
.slider_ul li a{
    display:block;
    text-align: center;
    margin: 0 10px;
}
.slider_ul li .imgBox{
    width:145px;
    display:block;
    overflow: hidden;
}
.slider_ul li .imgBox img{
    max-height: 100%; 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section3 .conArea{
    width: 66.66%;
    display: inline-block;
    max-height: 300px;
    overflow:hidden;
}
.section3 .conArea img{
    width:100%;
}
.section3 .titArea{
    width:33.33%;
    padding-left: 45px;
    border: 1px solid pink;
    display:inline-block;
}
.section3 .btnArea{
    margin-top: 30px;
}
.section3 .btnArea a{
    display:inline-block;
    font-size: 16px;
    color: #fff;
    line-height: 34px;
    background: #684d94;
    height: 36px;
    padding: 0 25px;
}
.section4{
    margin-right: -20px;
    margin-top: 100px;
}
.section4 .titArea{
    padding: 20px 30px 16px 0;
    width: 50%;
}
.section4 .textArea{
    line-height: 1.45em;
    font-size: 18px; color: #4B4B4B;
}
.section4 .textArea strong{
    font-weight: bold;
}
.section4 .Slogan {
    margin-top:30px;
    font-size: 30px; font-weight: bold;
    color: #4b4b4b;
}
.section4 .Slogan strong{
    font-weight: bold;
}
.section4 .conArea{
    width: 50%;
}
.section4 .conArea img{
    width: 100%;
}
.section5{
    margin-top:100px;
}
.section5 ul{
    overflow: hidden;
}
.section5 ul li{
    float: left;
    text-align: center;
    width: 33.33%;
}
.section5_wrap{
    max-width: 90%;
    margin: 0 auto;
}
.section5 .Icon{
    display:inline-block;
    width:60px; height:60px;
    background-size: 100% auto;
    background-image: url('./img/section5/main_bsPill_iconSet.png') ;
}
.Icon1{
    background-position: 0 0;
}
.Icon2{
    background-position: 0 -60px;
}
.section5 .title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px; padding-bottom: 10px;
    position: relative;
}
.section5 .title::after{
    content: "";
    display: inline-block;
    width: 32px; height:3px;
    position: absolute; bottom:0; left: 50%;
    transform: translateX(-50%);
    background:#442279;
}
.section5 .stitle{
    letter-spacing: -0.04em;
    font-size:18px;
    margin-top: 15px;
}

.section6{
    margin:100px -20px 0;
}
.kgFamilyArea{
    background: #303236;
    padding: 0 70px;
}
.kgFamilyArea li{
    display: flex;
    padding:40px 0;
}
.kgFamilyArea li span{
    flex:1; 
    max-width: 20%;
}
.group_logo{
    content: '';
    display:inline-block;
    height:30px; width:100%;
    background-image: url('./img/group_logoSet.png');
    background-size: 170px auto;
    background-repeat: no-repeat;
}
.ml2{
    margin-left: 20%;
}
.ml3{
    margin-left:30%;
}
.steel{
    background-position: 0 -420px;;
}
.chemical{
    background-position: 0 0;
}
.lnicis{
    background-position: 0 -30px;
}
.mobilians{
    background-position: 0 -60px;
}
.ets{
    background-position: 0 -90px;
}
.ec{
    background-position: 0 -453px;
}
.gns{
    background-position: 0 -485px;
}
.ict{
    background-position:0 -268px;
}
.zerion{
    background-position: 0 -120px;
}
.eduone{
    background-position: 0 -150px;
}
.sun{
    background-position: 0 -180px;
}
.ener{
    background-position: 0 -240px;
}
.kfc{
    background-position: 0 -300px;
}
.fb{
    background-position: 0 -550px;
}
.edaily{
    background-position: 0 -330px;
}
.cb{
    background-position: 0 -360px;
}
.section7{
    margin-top: 100px;
}
.section7 .conArea{
    width: 50%;
}
.section7 .titArea{
    width: 50%;
    padding-left: 45px;
}
.titArea .stit strong{
    font-weight: bold;
}
.section8{
    margin-top: 80px;
}
.section8 .textArea{
    text-align: center;
    font-size:24px;
    letter-spacing: -0.04em;
}
.section8 .textArea span{
    display: inline-block;
    font-size:30px; font-weight: bold;
    margin-top:30px;
}
footer{
    background-color:#442279;
    height:100%; width:100%;
}
.footer_wrap{
    max-width: 1280px;
    margin: 0 auto;
    color:#fff;
    padding: 0 20px;
}
.toUp i::before{
    font-family: 'AMB-iconfont' !important;
    font-size: 20px;
    /* content: ''; */
    color: #fff;
    content: '\e903';
    display: inline-block;
    width:100%; height: 35px; 
    
    /* border-top: 5px solid #121212; */
    /* border-right: 5px solid #121212;  */
    /* background-color:rgba(0,0,0,0.5); */
    /* width: 50px;  */
    /* height: 50px; */
    /* transform: rotate(135deg); 각도 */
}